<header>
  <h1>🎁 La tua Bacheca dei Regali 🎁</h1>
</header>

<div class="wishlist-container">
  <h2>La tua lista dei desideri</h2>
  
  <ul>
    <li>🎄 Giocattolo per il mio amico</li>
    <li>🎅 Un libro di Natale</li>
    <li>❄️ Calze calde</li>
  </ul>

  <button class="add-gift-btn">Aggiungi un regalo</button>
  
  <!-- Input per il caricamento delle immagini -->
  <input type="file" (change)="onFileSelected($event)" accept="image/*">

  <!-- Visualizza l'immagine caricata -->
  <div *ngIf="uploadedImageUrl">
    <h3>Immagine caricata:</h3>
    <img [src]="uploadedImageUrl" alt="Uploaded Image" style="max-width: 100%; height: auto;">
    <button (click)="deleteImage()">Elimina Immagine</button>
  </div>
</div>

<div class="snowfall">
  <div class="snowflake" style="left: 10%; animation-delay: 0s;">❄</div>
  <div class="snowflake" style="left: 20%; animation-delay: 1s;">❄</div>
  <div class="snowflake" style="left: 30%; animation-delay: 2s;">❄</div>
</div>
