<header class="text-center my-4">
  <h1>🎁 Lettera al mio Secret Santa 🎁</h1>
</header>

<div class="wishlist-container container">
  <h2 class="text-center">Caro mio Secret Santa, questa è la mia lettera.</h2>

  <!-- Box di testo per la lettera -->
  <div class="form-group">
    <textarea [(ngModel)]="letterContent" (input)="saveLetter()" placeholder="Scrivi qui la tua lettera..." class="form-control letter-textarea resizable"></textarea>
  </div>

  <!-- Visualizza l'immagine caricata -->
  <div *ngIf="uploadedImageUrl" class="uploaded-image-container text-center">
    <img [src]="uploadedImageUrl" alt="Uploaded Image" class="uploaded-image img-fluid mb-3">
  </div>

  <h3 class="text-center">Oppure scatta una foto alla tua lettera</h3>

  <!-- Input per il caricamento delle immagini e pulsante per eliminarle -->
  <div class="image-upload-container text-center">
    <button (click)="imageUpload.click()" class="btn btn-success">Carica Immagine</button>
    <input #imageUpload type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;" />
    <button *ngIf="uploadedImageUrl" (click)="deleteImage()" class="btn btn-danger ml-2">Elimina Immagine</button>
  </div>

  <!-- Visualizza l'assegnazione dell'utente corrente -->
  <div *ngIf="assignedUserEmail" class="assigned-user-container mt-4">
    <h3 class="text-center">Sei il Secret Santa di:</h3>
    <p class="text-center">{{ assignedUserEmail }}</p>

    <!-- Visualizza la lettera dell'utente assegnato -->
    <div *ngIf="assignedUserLetter" class="assigned-user-letter mt-3">
      <h4 class="text-center">Lettera di {{ assignedUserEmail }}:</h4>
      <p>{{ assignedUserLetter }}</p>
    </div>

    <!-- Visualizza l'immagine dell'utente assegnato -->
    <div *ngIf="assignedUserImageUrl" class="assigned-user-image mt-3 text-center">
      <h4>Immagine di {{ assignedUserEmail }}:</h4>
      <img [src]="assignedUserImageUrl" alt="Assigned User Image" class="assigned-image img-fluid">
    </div>
  </div>
</div>

<div class="snowfall">
  <div class="snowflake" style="left: 10%; animation-delay: 0s;">❄</div>
  <div class="snowflake" style="left: 20%; animation-delay: 1s;">❄</div>
  <div class="snowflake" style="left: 30%; animation-delay: 2s;">❄</div>
</div>
