<header class="text-center my-4">
  <h1>🎅 Accedi al tuo Secret Santa 🎅</h1>
</header>

<div class="login-container container">
  <h2 class="text-center">Accedi per iniziare</h2>

  <!-- Un unico form per gestire il login -->
  <form (ngSubmit)="onLogin()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Inserisci la tua email" class="form-control" required>
    </div>

    <div class="form-group password-container">
      <label for="password">Password:</label>
      <div class="input-group">
        <input [type]="passwordFieldType" id="password" [(ngModel)]="password" name="password" placeholder="Inserisci la tua password" class="form-control" required>
        <div class="input-group-append">
          <button type="button" class="btn btn-outline-secondary toggle-password-btn" (click)="togglePasswordVisibility()">
            <i [ngClass]="passwordFieldType === 'password' ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
          </button>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success btn-block">Accedi</button>
  </form>

  <div *ngIf="loginMessage" class="alert alert-info mt-3">{{ loginMessage }}</div>
  <a href="/register" class="register-link d-block text-center mt-3">Non sei ancora registrato? Registrati qui</a>
</div>

<div class="snowfall">
  <div class="snowflake" style="left: 10%; animation-delay: 0s;">❄</div>
  <div class="snowflake" style="left: 20%; animation-delay: 1s;">❄</div>
  <div class="snowflake" style="left: 30%; animation-delay: 2s;">❄</div>
</div>
