<!-- Effetto neve -->
<div class="snowfall">
  <div class="snowflake" style="left: 10%; animation-delay: 0s;">❄</div>
  <div class="snowflake" style="left: 20%; animation-delay: 1s;">❄</div>
  <div class="snowflake" style="left: 30%; animation-delay: 2s;">❄</div>
  <div class="snowflake" style="left: 40%; animation-delay: 3s;">❄</div>
  <div class="snowflake" style="left: 50%; animation-delay: 4s;">❄</div>
</div>

<!-- Navbar per navigare tra le pagine -->
<nav>
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/admin-panel" routerLinkActive="active">Admin Panel</a>
  <a routerLink="/draw" routerLinkActive="active">Draw</a>
  <a routerLink="/user-profile" routerLinkActive="active">User Profile</a>
  <a routerLink="/wishlist" routerLinkActive="active">Wishlist</a>
</nav>

<!-- Qui verranno visualizzati i componenti in base alla rotta -->
<router-outlet></router-outlet>
