<header class="text-center my-4">
  <h1>🎅 Registrati al Secret Santa 2024 🎅</h1>
</header>

<div class="register-container container">
  <h2 class="text-center">Registrati</h2>

  <!-- Un unico form per gestire la registrazione -->
  <form (ngSubmit)="onRegister()">
    <div class="form-group">
      <label for="name">Nome:</label>
      <input type="text" id="name" [(ngModel)]="name" name="name" placeholder="Inserisci il tuo nome" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Inserisci la tua email" class="form-control" required>
    </div>

    <div class="form-group password-container">
      <label for="password">Password:</label>
      <div class="input-group">
        <input [type]="passwordFieldType" id="password" [(ngModel)]="password" name="password" placeholder="Inserisci la tua password" class="form-control" required>
        <div class="input-group-append">
          <button type="button" class="btn btn-outline-secondary toggle-password-btn" (click)="togglePasswordVisibility()">
            <i [ngClass]="passwordFieldType === 'password' ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="form-group password-container">
      <label for="confirmPassword">Conferma Password:</label>
      <div class="input-group">
        <input [type]="passwordFieldType" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Conferma la tua password" class="form-control" required>
        <div class="input-group-append">
          <button type="button" class="btn btn-outline-secondary toggle-password-btn" (click)="togglePasswordVisibility()">
            <i [ngClass]="passwordFieldType === 'password' ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
          </button>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success btn-block">Registrati</button>
  </form>

  <div *ngIf="registerMessage" class="alert alert-info mt-3">{{ registerMessage }}</div>
</div>

<div class="snowfall">
  <div class="snowflake" style="left: 10%; animation-delay: 0s;">❄</div>
  <div class="snowflake" style="left: 20%; animation-delay: 1s;">❄</div>
</div>
