<header>
  <h1>🎅 Registrati al Secret Santa 2024 🎅</h1>
</header>

<div class="register-container">
  <h2>Registrati</h2>

  <!-- Un unico form per gestire la registrazione -->
  <form (ngSubmit)="onRegister()">
    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Inserisci la tua email" required>

    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Inserisci la tua password" required>

    <button type="submit" class="login-btn">Registrati</button>
  </form>

  <div *ngIf="registerMessage">{{ registerMessage }}</div>
</div>

<div class="snowfall">
  <div class="snowflake" style="left: 10%; animation-delay: 0s;">❄</div>
  <div class="snowflake" style="left: 20%; animation-delay: 1s;">❄</div>
</div>
