<header>
  <h1>🎅 Registrati al Secret Santa 2024 🎅</h1>
</header>

<div class="register-container">
  <h2>Registrati</h2>

  <!-- Un unico form per gestire la registrazione -->
  <form (ngSubmit)="onRegister()">
    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Inserisci la tua email" required>
    <div style="margin-bottom: 5px;"></div> 

    <div class="password-container">
      <label for="password">Password:</label>
      <input [type]="passwordFieldType" id="password" [(ngModel)]="password" name="password" placeholder="Inserisci la tua password" required>
      <button type="button" class="toggle-password-btn" (click)="togglePasswordVisibility()">👁️</button>
    </div>
    <div style="margin-bottom: 5px;"></div> 

    <div class="password-container">
      <label for="confirmPassword">Conferma Password:</label>
      <input [type]="passwordFieldType" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Conferma la tua password" required>
      <button type="button" class="toggle-password-btn" (click)="togglePasswordVisibility()">👁️</button>
    </div>
    <div style="margin-bottom: 10px;"></div> 

    <button type="submit" class="login-btn">Registrati</button>
  </form>

  <div style="margin-bottom: 10px;"></div> 

  <div *ngIf="registerMessage">{{ registerMessage }}</div>
</div>

<div class="snowfall">
  <div class="snowflake" style="left: 10%; animation-delay: 0s;">❄</div>
  <div class="snowflake" style="left: 20%; animation-delay: 1s;">❄</div>
</div>
